@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to top, #ffeebb, #a7ecee, #99dbf5, #9ac5f4);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@layer base {
  html {
    @apply font-primary;
  }
}

@layer components {
  .bg-primary {
    @apply bg-primary-light dark:bg-primary-dark;
  }

  .bg-secondary {
    @apply bg-secondary-light dark:bg-secondary-dark;
  }

  .bg-tertiary {
    @apply bg-tertiary-light dark:bg-tertiary-dark;
  }

  .text-primary {
    @apply text-primary-light dark:text-primary-dark;
  }

  .text-secondary {
    @apply text-secondary-light dark:text-secondary-dark;
  }

  .text-tertiary {
    @apply text-tertiary-light dark:text-tertiary-dark;
  }

  .focus-no-outline {
    @apply focus:outline-none focus:ring-0;
  }

  .tag {
    @apply bg-[#FAFAFA] dark:bg-[#121e26] cursor-default px-5 py-2 rounded-lg dark:text-[#A6A6A6];
  }

  .bg-sky-to-blue {
    @apply bg-gradient-to-b from-sky-400 to-blue-500;
  }

  .mobile-link-menu {
    @apply rounded-md mb-1 cursor-pointer font-medium mx-2.5 flex text-sm py-4 px-2 md:px-4 xl:px-5 items-center transition-all duration-300 ease-in-out dark:text-[#A6A6A6] text-gray-100;
  }

  .mobile-link-menu:hover {
    @apply text-gray-800 bg-sky-300 dark:bg-[#212425] text-gray-800;
  }
}
